<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.samecity.dao.UserDao" >
    <!--查询全部信息-->
    <select id="findU" resultType="com.example.samecity.model.UserDomain">
        SELECT * FROM userinfo
    </select>

    <!--查询所有 登录-->
    <select id="selectByLoginnameAndPassword" resultType="com.example.samecity.model.UserDomain">
        select * from userinfo where username=#{username} and password=#{password}
    </select>

    <!--查询注册用户数量-->
    <select id="count" resultType="int" parameterType="String">
        select count(*) from userinfo where username=#{username}
    </select>

    <!--插入用户名密码-->
    <insert id="addM" parameterType="com.example.samecity.model.UserDomain">
        insert into userinfo (username, password, phone, email)
        values (#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
    </insert>

    <!--模糊查询-->
    <select id="looks" resultType="com.example.samecity.model.UserDomain">
        select * from userinfo where username like '%${_parameter}%'
    </select>
</mapper>